* {
  margin: 0;
  padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
  }

.container__index {
    display: grid;
    
    grid-template-areas: 
    "header header header header"
    "main main aside aside"
    "section section section section"
    "footer footer footer footer";
}

@import "../components/header";
@import "../components/main";
@import "../components/aside";
@import "../components/section";
@import "../components/footer";
@import "../base/variables";
@import "../base/mixins";



    
    